:root{
    /*Google Font*/
    /*Color*/
    --text-color:#c08552;
    --border-color:#eed7c5;
    --platText-color:#fff9ec;

    --primary-color:#62635c;
    --title-color:#d08c60;
    --bottom-color:#f0efeb;
    --background-color:#ffbd91;
    --font-Caveat: 'Caveat', cursive;
    --font-Pragati: 'Pragati Narrow', sans-serif;

    --box-shadow: 0px 8px 8px rgba(25, 25, 25, 0.2);
    --shadow: 0px 5px 5px rgba(20, 20, 20, 0.2);
    --gradient-color:  linear-gradient(150deg, #E7F7FC 0%, #909090 100%);
}